body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: grey;
}

/*header*/

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #555555;
    border-radius: 4px;
}

/*header*/

/*body*/

.container {
    max-width:1864px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 254px;
    margin-bottom: 80px; /* To avoid overlap with footer */
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 130px;
    font-size: 2.5em;
}

button {
    display: block;
    margin: 30px auto;
    padding: 12px 28px;
    background-color: #0078d7;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 64px;
}

button:hover {
    background-color: #005fa3;
}

p {
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
    color: black;
    padding: 0 20px;
    font-size: 1.1em;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 2em;
}

.container2 {
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 0 20px 20px 20px;
    font-size: 1.1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container2 h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 2em;
}

.container2 ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin-top: 20px;
}

.container2 li {
    list-style: none;
}

.container2 a {
    color: #0078d7;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background 0.3s;
}

.container2 a:hover {
    background: #e0e0e0;
}




footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}